{"develop":{"login":{"channels":[{"index":1,"channelName":3,"className":"FacebookChannelSDK"},{"index":2,"channelName":1,"className":"GoogleChannelSDK"}]},"pay":{"channels":[{"index":3,"channelName":0,"className":"Internal"}]},"dna":{"channels":[{"index":4,"channelName":1000,"className":"Kochava"}]}},"android":{"login":{"channels":[{"index":2,"channelName":1,"className":"GoogleChannelSDK"},{"index":1,"channelName":3,"className":"FacebookChannelSDK"}]},"pay":{"channels":[{"index":2,"channelName":1,"className":"Google"}]},"dna":{"channels":[{"index":4,"channelName":1000,"className":"Kochava"}]}},"iOS":{"login":{"channels":[{"index":0,"channelName":2,"className":"AppleChannelSDK"},{"index":1,"channelName":3,"className":"FacebookChannelSDK"}]},"pay":{"channels":[{"index":0,"channelName":2,"className":"Apple"}]},"dna":{"channels":[{"index":4,"channelName":1000,"className":"Kochava"}]}}}